body {
    background-color: cyan;
}

h1 {
    display: flex;
    align-items: center;  
    font-size: 60px;
    justify-content: center;
}

h2 {
    display: flex;
    align-items: center;  
    font-size: 50px;
    justify-content: center;
}

p {
    display: flex;
    align-items: center;  
    font-size: 35px;
    justify-content: center;
}

a {
    display: flex;
    align-items: center;  
    font-size: 35px;
    justify-content: center;
    color: black;
}
